.brown{
    color: brown;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    
    font-size: 50px;
 
}
.button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    
}
section{
    display: flex;
}
.display{
    width: 40%;
    padding-left: 6%;
}
.display img{
    width: 70%;
}