body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.brown {
    color: brown;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 1%;
}
.half-width img {
    width: 40%;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px; 
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
